/* Общие настройки */
body {
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

div {
    margin: 2px;
    padding: 2px;
}

/* выбор перса и его основные параметры */
.selectPers,
.generalInfo,
.generalInfoElement {
    width: 100%;
}


.namePerses {
    width: 20%;
}

.nameDiv {
    height: 100%;
    width: 100%;
}

.name {
    height: 60px;
    width: 30%;
    float: left;
}

.generalInfoDiv {
    width: 100px;
    font-size: 12pt;
    float: left;
}

.dataDiv {
    width: 140px;
    font-size: 12pt;
    float: left;
}

.namePers {
    height: 60%;
    width: 100%;
    font-size: 20pt;
}

.generalInfoRow1,
.generalInfoRow2 {
    width: 68%;
    height: 30px;
    float: left;
}

.generalInfoLabel {
    float: left;
}

/* Основная часть листа персонажа */
.columnCharacteristic1_2 {
    width: 280px;
    float: left;
}

.columnCharacteristic1,
.columnCharacteristic2,
.columnCharacteristic3,
.columnCharacteristic4 {
    float: left;
}

.columnCharacteristic1 {
    width: 110px;
    background-color: #e1e1e1;
}

.columnCharacteristic2 {
    width: 150px;
}

.columnCharacteristic3 {
    width: 300px;
}

/* характеристики */
.groupCharacteristicsElement {
    width: 100%;
    height: 100px;
    text-align: center;
}

.characteristicsResultElement {
    width: 50px;
    height: 50px;
    font-size: 20pt;
    text-align: center;
}

.characteristicsElement {
    width: 50px;
    height: 15px;
    text-align: center;
}

.groupCharacteristic,
.groupPassiveAttention {
    width: 100%;
    margin: 0;
    padding: 0;
}

.groupPassiveAttention {
    float: left;
}

.nameCharacteristic,
.passiveAttention {
    width: 82%;
    float: left;
    text-align: left;
    margin: 0;
    padding: 0;
}

.nameCharacteristic {
    font-size: 10pt;
    width: 80%;
}


.inspiration,
.bonus,
.spasbrosokElement,
.skillsElement,
.passive_attention {
    width: 10%;
    display: inline-block;
    text-align: center;
}

/* Здоровье, броня */
.classArmorInitiativeSpeed,
.health,
.weapon {
    float: left;
    width: 100%;
}

.divInfoElement {
    width: 30%;
    float: left;
}

.nameInfoElement,
.infoElement {
    width: 100%;
    text-align: center;
}

.infoElement {
    font-size: 20pt;
}

.healthBonesTestsDeath {
    width: 100%;
}

.healthBones {
    width: 47%;
    float: left;
}

fieldset {
    text-align: center;
    padding: 0;
}

fieldset p {
    font-size: 8pt;
}

.nameHealthElement,
.groupBonesHealthElement {
    width: 100%;
    float: left;
    text-align: center;
}

.nameBonesHealthElement {
    width: 40%;
    float: left;
    text-align: left;
}

.bonesHealthElement {
    float: left;
    width: 50%;
    text-align: center;
}

.healthElement {
    width: 90%;
    text-align: center;
    float: left;
    font-size: 20pt;
    height: 50px;
}

.maxHealth {
    width: 60%;
    float: left;
}

.healthMaxElement {
    float: left;
    width: 34%;
    text-align: center;
}

/* оружие */
.weapon .weaponText {
    width: 100%;
}